<!-- views/search.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= name %> 검색결과</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/LoL_Icon_Rendered_Hi-Res.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/search.css">
  </head>
  <body>
    <div class="wrap_div">
      <div class="wrap_img">
        <img class="tier_img" alt="리그 등급" width="90" style="border:0px;" src=<%= img %>>
      </div>
      <div class="wrap_info">
        <!-- 랭킹: <a href="/ranking#129" target="_blank"><b>135위</b><span style="font-size:11px;" class="tipsy_live" tipsy="4,096,302 중 135위" original-title="">( 0.0033% )</span></a><br> -->
        닉네임: <%= name %><br>
        리그: 솔로랭크 5x5<br>
        등급: <font color="#228822"><%= tier %> <%= rank %></font><br>
        리그 포인트: <%= leaguePoints %><br>
        <!-- 승급전: -<br><br> -->
        전적: <%= wins %> 승 / <%= losses %> 패
      </div>
    </div>
    <button><a href="/">뒤로</a></button>
  </body>
</html>